.add-product-button {
    background-color: #00B2EA;
    border-radius: 15px;
    color: white;
    max-width: 100%;
    display: flex;
    /* justify-content: space-evenly; */ 
    width: 48%;
    max-width: 45%;
    padding: 0px;
    margin-left: 7px;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none; 
    transition: background-color 0.3s ease; 
  }
  
  .add-product-button:hover {
    background-color: #0077a3; /* Change color on hover */
  }
  
  .add-product-container {
    display: flex;
    margin: 7px;
  }

  .add-product-container > i {
    font-size: 33px;
  }

  .product-table-list {
    width: 98%;
    margin: auto;
    border-collapse: collapse;
    border-radius: 15px; 
    overflow: hidden; 
    box-shadow: 3px 8px 8px rgba(0, 0, 0, 0.15);
  }
  
  .product-table-list th,
  .product-table-list td {
    /* kung ano mas pleasing na design of lines (bottom only)*/
    border-bottom: 1px solid #ddd;  
    /* lahat may border line  */
    /* border: 1px solid #ddd;    */
    padding: 12px;
    text-align: left;
  }
  
  .product-table-list th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 22px;
  }

  .product-list {
    display: flex;
    align-items: center;
  }
  .product-image-list {
    max-width: 7.5rem;
    margin-right: 15px;
  }
  
  .product-name-list {
    font-weight:500;
    font-size: 1.4rem;
  }
  
  .product-type {
    color: #555;
  }
  
  .product-price {
    color: #007bff;
  }
  
  .product-quantity {
    color: #28a745;
  }
  
  .product-desc-list {
    /* color: #6c757d; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    width: 25%;
  }

  .product-actions-list {
    color: #00B2EA;
    width: 7%;
  }
  
  .product-actions-list > i{
    margin: 6px;
    transition: 0.3s ease;
    cursor: pointer;
  }
  
  .product-actions-list > i:hover{
    color: #0077a3;
  }
  
  /* Hover effect */
  .product-table-list tbody tr:hover {
    background-color: #f9f9f9;
  }


  
  /* * {
    border: 1px solid red;
  } */