

.container{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #D5DBEC;
    min-height: 100vh;
}

.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
}

.searchInput {
    position: relative;
    display: inline-block;
    margin: 8px;
    border-radius: 15px;
    width: 100%;
    height: 45px;
    border: 0px;
    padding-left:3%;
    background-color: #EFEFEF;
    
  }
  
.page-header > div > i {
    color: #00B2EA;
    position: absolute;
    max-width: fit-content;
    margin: 0px;
    border-radius: 2px;
    padding: 0px;
    cursor: pointer;
    border: 0px;
    margin-right: 23px
}

.searchBar {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    width: 100%;
}

input:focus {
    outline-color: #00B2EA;
}

select:focus {
    outline-color: #00B2EA;
}

select {
    appearance: none;
    color: #838383;
}

.totalUsers {
    display:flex;
    justify-content: center;
    background-color: #00B2EA;
    color: white;
    padding: 10px;
    width: 40%;
    border-radius: 15px; 
}

.user-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%; 
    background-color: var(--background-color);
    border-radius: 15px;
    padding: 0px;

}

.user-container-inside:hover {
    background-color: #e6f9ff;
    /* padding: 15px; */
}

.user-container-inside {
    display: flex;
    max-width: 100%; 
    background-color: #F4F1F1;
    box-shadow: 3px 8px 8px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 7px;
    transition: 0.3s ease;
}

.user-box {
    position: relative;
    display: flex;
    list-style-type: none;
    padding: 8px;
    padding-top: 12px;
    align-content: flex-start;
    margin: 0;
    transition: box-shadow 0.5s ease;
  }

  .right-icon, .left-icon{
    position: absolute;
    top: 0;
    right:0px;
    border-radius: 6px;
    padding: 3px;
    height: fit-content;
    background-color: red;
    color: white;
    font-size: 25px;
    transition: 0.4s ease;
    cursor: pointer;
  }

  .left-icon {
    right: 37px;
    background-color: #00B2EA;
    /* font-size: 40px; */
  }

  .right-icon:hover {
    background-color:rgb(205, 2, 2) ;
  }
  
  .left-icon:hover {
    background-color:#0087b0
  }

.user-details {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    color: var(--primary);
    font-size: 1.25rem; /* Smaller title size */
    text-align: center;
    align-content: center;
    width: 300px;
}

.user-details > p {
  display: flex;
  margin: 0px;
  /* text-align: left; */
  justify-content:space-between;
  
}

.user-details > p > span {
  font-weight: bold;
}



.user-details > h2 {
    margin-top: 13px;
    margin-bottom: 0px;
    font-size: 140%;
}

.email {
    color:#00B2EA;
    margin: 0px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}

.confirmation-pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }
  
  .confirmation-box {
    background-color: white;
    border: 1px solid gainsboro;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 23rem;
  }
  
  
  .confirmation-box p {
    margin-bottom: 20px;
    text-align: left;
    font-size: 1.05rem;
  }
  
  .bold {
    font-weight: bold;
  }

  .confirmation-header {
    /* display: flex; */
    /* flex-direction: flex-start; */
    border-bottom: 1px solid gainsboro;
    text-align: start;
  }
  .confirmation-header > h3 {
    margin: 8px 0px 13px;
    font-size: 1.15rem;

  }

  .confirmation-buttons {
    text-align: end;
  }
  
  .confirmation-buttons button {
    margin: 0 4px;
    padding: 10px 20px;
    color: black;
    border: solid gainsboro 1px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 550;
    font-size: 0.9rem;
  }
  
  .confirmation-buttons button:first-child {
    background-color: white; 
    /* color: #fff; */
    transition: 0.3s ease;
  }

  .confirmation-buttons button:first-child:hover {
    background-color: #f0f0f0;

  }

  
  .confirmation-buttons button:last-child {
      background-color: #ff0000;
      color: #fff;
    }
    
    .confirmation-buttons button:last-child:hover {
        background-color:rgb(205, 2, 2) ;
    }