@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

.home-container {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
}

.home-content {
    display: flex;
    flex-direction: row;
    align-items: center;
   
    color: #666;
    max-width: 1200px;
    margin-bottom: 40px;
    font-family: Poppins;
    font-weight: bolder;
    font-size: 2rem;
}

.home-content img {
    width: 100%;
    height: auto;
    max-width: 700px;
    margin-right: 20px;
}

.home-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.home-header {
    font-size: 3.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.home-button {
    font-family: Poppins;
    padding: 10px 20px;
    font-size: 25px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.home-button:hover {
    background-color: #0056b3;
}

.home-footer {
    margin-top: 40px;
    font-size: 0.9em;
    color: #999;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .home-header {
        font-size: 3em;
    }

    .home-content {
        flex-direction: column;
    }

    .home-content img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .home-text {
        align-items: center;
        text-align: center;
    }

    .home-button {
        align-self: center;
    }
}
