/* html {
    height: 100%;
    --primary: #2B60C9;
    --highlight: var(--primary);
    --background-color: #f0f8ff;
    --light-border: #eaeaea;
    --shadow-1: rgba(227, 9, 9, 0.05);
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease-in-out
}
  
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    
} */
  
/* .appContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
} */
  
  /* Container for the main content */
.main-content {
    flex: 1; 
    /* border: 1px solid red; */
}

.mainCont {
    display: flex;
    flex-direction: row;
    /* margin-right: 250px; */
}

.card {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center; 
    max-width: 200px;
    min-height: 400px;
    align-content: center;
}
  
.card-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform .3s ease-in-out
}
  
.card-price {
    font-family: Arial, sans-serif;
    margin: 0;
    color: hsl(0, 0%, 20%);
}
  
.card-name {
    font-family: Arial, sans-serif;
    color: hsl(0, 0%, 30%);
}
  
button {
    background-color: #0f3460;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px
}
  
button:hover {
    background-color: #e94560
}
  
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px)
}
  
    to {
        opacity: 1;
        transform: translateY(0)
    }
}
  
.goods {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.mainCart {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    margin: 10px;
    padding: 10px;
    text-align: center;
    flex-grow: 1;
    max-width: 300px;
    width: 100%;
    
}
  
.mainCart h2 {
    font-size: 25px;
    margin-bottom: 15px;
}
  
.cartItem {
    margin: 20px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    margin: 10px;
    padding: 10px;
    text-align: center; 
    
}

.buongCheckout{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid blue; */
    flex-wrap: wrap;
    /* justify-content: center; */
    /* border: 2px solid yellow; */
    width: 100%;
    
}

.checkoutItems {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    text-align: center;
    align-items: center;
    display: flex;
    /* border: 1px solid blue; */
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
    margin-left: 250px;
    margin-right: 100px;
    max-width: 100%;
    /* justify-items: stretch; */
    /* width: min-content; */
}

.eachItem {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    margin: 5px;
    display: flex;
    align-items: center;
    /* text-align: center; */
    /* flex-direction: row; */
    flex-direction: row;
    padding: 15px;
    width: 100%;
    min-height: 200px;
    /* border: 1px solid black; */
    /* align-items: start; */
    justify-content: space-around;
    /* border: 2px solid red; */
}

.checkoutImg {
    max-width: 150px;
    padding: 10px;
    /* padding-right: 150px; */
    /* border: 5px solid red; */
}

.placeOrder {
    display: flex;
    flex-direction: row-reverse;
    /* flex-wrap: wrap-reverse; */
    align-items: start;
    /* align-content: center; */
    /* border: 3px solid darkmagenta; */
    /* border: 1px solid red; */
}

.ssCheckout {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    max-width: 300px;
    /* margin-left: 20px; */
    margin-right: 70px;
    margin-top: 50px;
    /* border: 1px solid green; */
}

.finalDiv {
    /* border: 1px solid red; */
    justify-content: center;
    align-items: flex-start;
    min-width: auto;
}

.delItem {
    max-width: 25px;
}

.whole-order{
    border: 1px solid blue;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 70px;
    margin-top: 50px;
    max-width: 450px;
    min-width: 280px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
}

.selPayMethod{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    flex-wrap: wrap;
    /* justify-content: center; */
    /* border: 2px solid yellow; */
    width: 100%;
}

.mode-of-payment1, .mode-of-payment2{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    margin-top: 10px;
    padding: 5px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.orderSummary{
    font-family: 'Roboto', sans-serif;
}

.orderSummText{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    /* border: 1px solid red; */
    margin: 0;
    margin-top: 20px;
}

.orderAddress {
    display:flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    /* border: 1px solid green; */
    /* justify-content: start; */
}

.inputAddress {
    margin: 0px;
    /* border: 1px solid red; */
}

.totPriceBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    /* max-height: 10vb; */
}

/* .orderLine {
    margin0: 0;
} */


/* *{
    border: 1px solid red;
} */

/* .buttonSummPart {
    align-items: center;
    align-content: center;
} */

.PlaceOrderNow {
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
    display: flex;
    /* border: 2px solid blue; */
    justify-items: stretch;
    /* min-width: 33.3vb; */
    text-align: center;
    display: flex;
    /* align-content: center; */
}

.OrderButt {
    /* border: 2px solid green; */
    text-align: center;
}

.cartButtonNone {
    background-color: #e94560;
    cursor: not-allowed;
}

.cartButtonNone:hover {
    background-color: #e94560;
}